aiogram==2.17.1
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.1
attrs==21.2.0
autopep8==1.6.0
Babel==2.9.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cryptg==0.2.post4
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
pafy==0.5.5
psycopg2==2.9.2
pycodestyle==2.8.0
pycparser==2.21
pyTelegramBotAPI==4.2.1
pytube==11.0.2
pytz==2021.3
requests==2.26.0
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.7
yarl==1.7.2
youtube-dl==2021.6.6
